<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0" metadata-complete='true'>
  <display-name>Welcome to Day69(1106)</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!-- <session-config>
  	<session-timeout>30</session-timeout>
  </session-config> -->
  <context-param>
  	<description>MySQL Driver URL</description>
  	<param-name>db.url</param-name>
  	<param-value>jdbc:mysql://localhost:3306/test?serverTimezone=Asia/Seoul</param-value>
  </context-param>
  <context-param>
  	<description>MySQL User name</description>
  	<param-name>db.user</param-name>
  	<param-value>root</param-value>
  </context-param>
  <context-param>
  	<description>MySQL Driver Class Name</description>
  	<param-name>db.driver</param-name>
  	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
  	<description>MySQL Password</description>
  	<param-name>db.password</param-name>
  	<param-value>javamysql</param-value>
  </context-param>
</web-app>