<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0" metadata-complete='true'>
  <display-name>Welcome to Day68(1105)</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!-- <session-config>
  	<session-timeout></session-timeout>
  </session-config> -->
  
 <error-page>
  	<error-code>404</error-code>
  	<location>/404.html</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/500.html</location>
  </error-page>
  <error-page>
  	<exception-type>java.lang.NumberFormatException</exception-type>
  	<location>/numberformat.html</location>
  </error-page>
  <error-page>
  	<exception-type>java.lang.ArithmethicException</exception-type>
  	<location>/arithmethic.html</location>
  </error-page>
  
  <context-param>
  	<description>MySQL Driver URL</description>
  	<param-name>db.url</param-name>
  	<param-value>jdbc:mysql://localhost:3306/test?serverTimezone=Asia/Seoul</param-value>
  </context-param>
  <context-param>
  	<description>MySQL User name</description>
  	<param-name>db.user</param-name>
  	<param-value>root</param-value>
  </context-param>
  <context-param>
  	<description>MySQL Driver Class Name</description>
  	<param-name>db.driver</param-name>
  	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
  	<description>MySQL Password</description>
  	<param-name>db.password</param-name>
  	<param-value>javamysql</param-value>
  </context-param>
</web-app>